<html lang="en">
<head>
	<link rel="stylesheet" href="/assets/css/sugar.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	{%include "navigasi.njk" %}
	<section>
		{{content | safe }}
	</section>
	<script>
		window.onload = modeMalam();
		function modeMalam(){
			var date = new Date();
			var time = parseInt(date.getHours);

			if(time>12){
				var element = document.body;
				element.classList.toggle("mode-malam");
			}
		}
	</script>
</body>
</html>
